<head>
  <link rel="stylesheet" href="{{ '/data/styles/footer.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous"
</head>
<footer>
  <div class="social-media">
    <a href="https://x.com/supertux_team">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="https://floss.social/@supertux">
      <i class="fa-brands fa-mastodon"></i>
    </a>
    <a href="https://discord.gg/AcvtHWz">
      <i class="fa-brands fa-discord"></i>
    </a>
    <a href="https://github.com/SuperTux">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://youtube.com/@supertux?si=IJNiPBXP4YBLPIOE">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </div>
  <div class="copyrights">
    <p>
      Copyrights © 2003-2026 The SuperTux Team
        <br>
      By using this service you agree to our <a href="{{ '/privacy.html' | relative_url }}">privacy policy</a>
        <br>
      This page is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
        <br>
      Font Awesome icons is licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>
        <br>
      All trademarks are the property of their respective owners
        <br>
      Developed with love by <a href="https://gravatar.com/kingclearly456de3ebe9">Sera.L</a>
    </p>
  </div>
</footer>
