<head>
  <link rel="stylesheet" href="data/styles/header.css">
</head>
<nav>
  <div class="logo">
    <img src="data/icons/supertux-logo.png">
    <h3>
      <a href="index.html">
        SuperTux
      </a>
    </h3>
  </div>
  <div class="sections">
    <ul>
      <li>
        <a href="gallery.html">Gallery</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
      <li>
        <a href="download.html">Download</a>
      </li>
      <li>
        <a href="community.html">Community</a>
      </li>
      <li>
        <a href="about.html">About</a>
      </li>
      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>
