<head>
  <link rel="stylesheet" href="{{ '/data/styles/side.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous"
</head>
<div class="buttons">
  <button class="download-button" onclick="document.location='download.html'">
    <i class="fa-solid fa-download"></i>
    Download
  </button>
  <button class="wiki-button" onclick="document.location='https://github.com/SuperTux/supertux/wiki'">
    <i class="fa-solid fa-book"></i>
    Wiki
  </button>
  <button class="play-online-button" onclick="document.location='https:play.supertux.org'">
    <i class="fa-solid fa-gamepad"></i>
    Play Online
  </button>
</div>
<div class="gallery">
  <h1>Gallery</h1>
  <div class="photos">
    <div class="photo">
      <a href="data/images/gallery/1.png"><img src="data/images/gallery/1.png"></a>
    </div>
    <div class="photo">
      <a href="data/images/gallery/17.png"><img src="data/images/gallery/17.png"></a>
    </div>
    <div class="photo">
      <a href="data/images/gallery/28.png"><img src="data/images/gallery/28.png"></a>
    </div>
    <div class="photo">
      <a href="data/images/gallery/35.png"><img src="data/images/gallery/35.png"></a>
    </div>
  </div>
  <p><a>Show More</a></p>
</div>

