@font-face {
    font-family: 'SuperTux-Font-Medium';
    src: url('../fonts/SuperTux-Medium.ttf') format('truetype');
}

html {
  font-size: 12px;
  font-family: 'SuperTux-Font-Medium', serif;

  body {
    background-image: url('../images/backgrounds/cave.png');
    background-size: cover;
    background-position: center;

    main {
      background-color: #ffffff;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 0px;
      padding-bottom: 3rem;
      margin-top: 0px;
      padding-top: 6rem;

      .contact {
        text-align: center;

        h1 {
          margin-bottom: 6rem; 
          font-size: 3rem; 
        }

        .content {
          margin-right: 1rem;
          margin-left: 1rem;
          text-align: left;

          h1 {
            font-size: 2rem;
            margin-bottom: 3rem; 
          }

          p {
            font-size: 1.25rem;
            margin-bottom: 3rem; 

            a {
              color: #0080FF;
              text-decoration: none;
            }
          }

          ul {
            font-size: 1.25rem;

            a {
              color: #0080FF;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
