@font-face {
  font-family: 'SuperTux-Font-Medium';
  src: url('../fonts/SuperTux-Medium.ttf') format('truetype');
}

html {
  font-size: 12px;
  font-family: 'SuperTux-Font-Medium', serif;

  body {
    background-image: url('../images/backgrounds/cave.png');
    background-size: cover;
    background-position: center;

    main {
      background-color: #ffffff;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 0px;
      padding-bottom: 3rem;
      margin-top: 0px;
      padding-top: 6rem;

      .news {
        text-align: center;

        a {
          color: #0080FF;
          text-decoration: none;
          font-weight: bold;
        }

        h1 {
          margin-bottom: 6rem; 
          font-size: 3rem; 
        }

        .content

          .news-card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5%;
            border-style: none;
            border-radius: 20px;
            box-shadow: 4px 4px 5px #cacaca;
            background-color: #F1F1F1;
            margin-top: 5%;
            margin-bottom: 3rem;
            margin-right: 5rem;
            margin-left: 5rem;
            text-align: left;
      
            img {
              width: 40%;
              height: 100%;
              border-style: none;
              border-radius: 20px 0px 0px 20px;
            }

            .quote {
              padding: 2.5%; 
              font-size: 1.25rem; 
              height: 100%;
              width: 50%;
            }
          }
        }
      }
    }
  }
}


