@font-face {
    font-family: 'SuperTux-Font-Medium';
    src: url('../fonts/SuperTux-Medium.ttf') format('truetype');
}

html {
  font-size: 12px;
  font-family: 'SuperTux-Font-Medium', serif;

  body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('../images/backgrounds/cave.png');
    background-size: cover;
    background-position: center;

    main {
      margin-right: 5%;
      margin-left: 5%;
      bachground-color: #ffffff;

      .hero{
        text-align: center; 
        height: 101vh; 
        padding-top: 7rem;

        .page-title {
          color: #ffffff !important;
          font-size: 3rem;  
          padding-top: 7rem; 
        }
    
        .short-intro {
          color: #ffffff !important;
          font-size: 2rem; 
        }

        .buttons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 3rem; 
              
          .download-button {
            background-color: #0080F7; 
            border-style: none; 
            border-radius: 20px;
            height: 4rem;
            width: 15rem;
            font-size: 1.5rem;
            font-weight: bold; 
            font-family: 'SuperTux-Font-Medium', serif;
          }

          .download-button:hover,
                          :active {
            background-color: #0080F0; 
          }

          .wiki-button {
            background-color: #01DF74;
            border-style: none; 
            border-radius: 20px;
            height: 4rem;
            width: 15rem;
            font-size: 1.5rem;
            font-weight: bold; 
            font-family: 'SuperTux-Font-Medium', serif;
          }

          .wiki-button:hover,
                      :active {
            background-color: #01DF70; 
          }

          .play-online-button {
            background-color: #8000FF; 
            border-style: none; 
            border-radius: 20px;
            height: 4rem;
            width: 15rem;
            font-size: 1.5rem;
            font-weight: bold; 
            font-family: 'SuperTux-Font-Medium', serif;
          }

          .play-online-button:hover,
                             :active {
            background-color: #8000F0; 
          }
        }
      } 
      
  

      .video {
        text-align: center;
        align-items: center;
      
        h1 {
          font-size: 3rem;
        }

        .video-box {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90vh;
          width: 90vw;
          box-shadow: 4px 4px 5px #cacaca;
          border-style: none;
          border-radius: 20px;

          iframe {
            display: flex;
            justify-content: center;
            border-style: none;
            border-radius: 20px;
            height: 100%;
            width: 100%;
          }
        }
      }

      .gallery {
        text-align: center;  

        h1 {
          font-size: 3rem;
        }

        .photos {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 2rem; 
          border-style: none;
          border-radius: 20px;
          grid-wrap: wrap; 

          .photo {
            width: 100%;
            height: 100%;
            box-shadow: 4px 4px 5px #cacaca;
            border-style: none;
            border-radius: 20px;

            img {
              height: 100%;
              width: 100%;
              border-style: none;
              border-radius: 20px; 
            }
          }
        }
      }

      .news {
        h1 {
          text-align: center;         
          font-size: 3rem;
        }
  
        .news-card {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5%;
          border-style: none;
          border-radius: 20px;
          box-shadow: 4px 4px 5px #cacaca;
          background-color: #F1F1F1;
      
          img {
            width: 40%;
            height: 100%;
            border-style: none;
            border-radius: 20px 0px 0px 20px;
          }

          .quote {
            font-size: 1.25rem; 
            height: 100%;
            width: 50%; 

            p {
              a {
                color: #0080FF;
                text-decoration: none;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
